<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Erin Fox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet">
  </head>

  <body>
    {{ content }}
    {% include nav.liquid %}
  </body>

</html>